@font-face {
  font-family: Anton-Regular;

  src: url("Fuentes/Anton-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Anton-Regular;
}
/* =====HEADER==================================== */
/* .hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #767b91 200px, #c7ccdb, #e1e5ee);
    color: black;
} */

#parteDeArriba {
  background: linear-gradient(to bottom, #c7ccdb, #767b91);
  width: 100%;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.Logo {
  width: 120px;
  /* max-width: 100%; */
  /* border-radius: 50%; */
  cursor: pointer;
  overflow: hidden;
}

.Lineas {
  width: 50px;
  /* border-radius: 50%; */
  cursor: pointer;
  margin-right: 40px;
}

nav ul {
  width: 100%;
  text-align: left;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: linear-gradient(to bottom, #c7ccdb, #767b91);
  padding: 20px;
  margin: 10px;
}

.display {
  display: flex;
  align-items: center;
}

.display h3 {
  font-weight: 500;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.sub-menu-link p {
  width: 100%;
  padding: 12px;
}

.sub-menu-link img {
  width: 40 px;
  border-radius: 50%;
  padding: 8px;
  margin-right: 5px;
}

.sub-menu-link:hover img {
  transition: transform 0.5s;
  transform: translateX(5px);
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

.right-menu {
  /* margin-right: 20px; */
  display: flex;
  justify-content: center;
  color: #fff;
}

.icon-link {
  color: #2a324b;
  text-decoration: none;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
}

.separador {
  color: #2a324b;
  margin-left: 5px;
  margin-right: 5px;
}

/* ======================================================================== */

/* CSS PARA EL FONDO, CAMBIO DE IMAGENES Y HOVER DE ALGUNOS BOTONES */

.centrar {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("img/pexels-furkan-aydi̇lek-17905270.jpg");
  background-position-y: -320px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* tamaño de los botones y su hover */
.center {
  border-style: none;
  width: 150px;
  height: 100px;
  font-size: xx-large;
  background-color: transparent;
  color: #fff;
}

/* .center:hover {
  border-color: #28a2ff;
  border-width: 2px;
  box-shadow: -1px 1px 16px 2px rgb(41, 162, 255, 0.3);
  -webkit-box-shadow: -1px 1px 16px 2px rgb(41, 162, 255, 0.3);
  -moz-box-shadow: -1px 1px 16px 2px rgb(41, 162, 255, 0.3);
} */

/* tamaño y hover de los botones para cambiar imagen de fondo */
#button-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.botonesFondo {
  background-color: #2a324b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 25%;
  font-size: 18px;
}

.botonesFondo:hover {
  background-color: #28a2ff;
}
/* ====================================================================  */
/*Style Shortcuts*/

.shortcutsButtons {
  background-color: #28a2ff;
  display: block;
  position: absolute;
  width: 30px;
  border-radius: 50%;
  font-size: 20px;
}

/* ====================================================================  */
/*Style Recorder*/
#recorder {
  position: absolute;
  left: 30px;
  bottom: 20px;
  z-index: 1;
}

#recorder > button:hover {
  border-color: #28a2ff;
  border-width: 2px;
  box-shadow: -1px 1px 16px 2px rgb(41, 162, 255, 0.3);
  -webkit-box-shadow: -1px 1px 16px 2px rgb(41, 162, 255, 0.3);
  -moz-box-shadow: -1px 1px 16px 2px rgb(41, 162, 255, 0.3);
}

#startRecord {
  background-image: url(/img/radio_button_unchecked.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 4px;
  cursor: pointer;
}

#stopRecord {
  background-image: url(/img/radio_button.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 4px;
  cursor: pointer;
}

#playAudio {
  background-image: url(/img/play_circle.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 4px;
  cursor: pointer;
}

#pauseAudio {
  background-image: url(/img/pause_circle.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 4px;
  cursor: pointer;
}

#stopAudio {
  background-image: url(/img/stop_circle.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 4px;
  cursor: pointer;
}

#audioPlayer {
  display: none;
}

/* ====================================================================  */
#botonCrash {
  background-image: url(/img/Bateria/plato.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 30px;
  width: 200px;
  height: 50px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

#botonCrash:hover {
  background-image: url(/img/Bateria/plato\ color.png);
  transform: scale(1.03);
}

.button-active {
  transform: scale(1.03);
  background-image: url(/img/Bateria/bateria\ 0\ color.png);
}

#botonHihat-close {
  background-image: url(/img/Bateria/plato.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 30px 30px 0px 0px;
  width: 200px;
  height: 50px;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-end: 2;
  grid-row-start: 2;
}

#botonHihat-close:hover {
  background-image: url(/img/Bateria/plato\ color.png);
  transform: scale(1.03);
}

#botonHihat-open {
  background-image: url(/img/Bateria/plato.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 30px 30px 0px 0px;
  width: 200px;
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
  grid-row-start: 2;
}

#botonHihat-open:hover {
  background-image: url(/img/Bateria/plato\ color.png);
  transform: scale(1.03);
}

#botonKick {
  background-image: url(/img/Bateria/bateria\ 0.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200px;
  height: 200px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

#botonKick:hover {
  background-image: url(/img/Bateria/bateria\ 0\ color.png);
  transform: scale(1.03);
}
.claseNueva {
  background-image: url(/img/Bateria/bateria\ 2\ color.png);
  transform: scale(1.03);
}

#botonRide {
  background-image: url(/img/Bateria/plato.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 30px;
  width: 200px;
  height: 50px;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
}

/* #botonRide p{
} */
#botonRide:hover {
  background-image: url(/img/Bateria/plato\ color.png);
  transform: scale(1.03);
}

#botonSnare {
  background-image: url(/img/Bateria/bateria\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

#botonSnare:hover {
  background-image: url(/img/Bateria/bateria\ 1\ color.png);
  transform: scale(1.03);
}

#botonTom-high {
  background-image: url(/img/Bateria/bateria\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100px;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 2;
}

#botonTom-high:hover {
  background-image: url(/img/Bateria/bateria\ 1\ color.png);
  transform: scale(1.03);
}

#botonTom-low {
  background-image: url(/img/Bateria/bateria\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0px 30px 0px;
  height: 200px;
  grid-column-start: 7;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
}

#botonTom-low:hover {
  background-image: url(/img/Bateria/bateria\ 2\ color.png);
  transform: scale(1.03);
}

#botonTom-mid {
  background-image: url(/img/Bateria/bateria\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 200px;
  margin: 0px 30px 0px;
  grid-column-start: 3;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

#botonTom-mid:hover {
  background-image: url(/img/Bateria/bateria\ 2\ color.png);
  transform: scale(1.03);
}

.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
}
/* Fotter */

.footer {
  color: #2a324b;
  position: absolute;
  right: 80px;
  bottom: 25px;
  z-index: 1;
}

#minilogo {
  background-color: none;
  background-image: url(/img/logo_footer.svg);
  position: absolute;
  width: 40px;
  height: 40px;
  right: 30px;
  bottom: 17px;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: contain;
}
/* ===================================================================== */
